

.listWrapper{
    margin: 40px;

}

.listTitle{
    font-size: 32px;
}
.listTitle::after{
    content: '';
    display: block;
    height: 2px;
    background: red;
    width: 100px;
    margin-top: 4px;
}

.listContainer{
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
